<div class="homepage">
	<div class="intro">
		Вы попали на сайт <strong>Е|10</strong>. Вам здесь рады.
	</div>
	<div class="img item-01">
		<img src="/images/h-img-01.jpg" width="606" height="434" alt="">
		<div class="text bg2 posB2">
			Делаем квесты, тренинги, рекламу и проч.<br>
			Формируем стратегии, придерживаемся тактик.
		</div>
	</div>
	<div class="img item-02">
		<img src="/images/h-img-02.jpg" width="242" height="228" alt="">
	</div>
	<div class="img item-03">
		<img src="/images/h-img-03.jpg" width="469" height="313" alt="">
		<div class="text posT">
			<a href="/events">Игра</a> ребёнка не обидит.<br>
			Мы работаем с добром.
		</div>
	</div>
	<div class="img item-04">
		<img src="/images/h-img-04.jpg" width="376" height="251" alt="">
		<div class="text">
			Во время квестов ещё и <a href="/quests/marry">свадьбы</a> устраивают.
		</div>
	</div>
	<div class="img item-05">
		<img src="/images/h-img-05.jpg" width="304" height="170" alt="">
		<div class="text nobg posR">
			&larr;<br>
			Из <a href="/blog">рассказа</a> о том, как <br>
			снимался <span class="nm">«Enter the desjat'»</span>
		</div>
	</div>
	<div class="img item-06">
		<img src="/images/h-img-06.jpg" width="407" height="272" alt="">
	</div>
	<div class="img item-07">
		<img src="/images/h-img-07.jpg" width="137" height="81" alt="">
	</div>
	<div class="img item-08">
		<img src="/images/h-img-08.jpg" width="142" height="106" alt="">
	</div>
	<div class="img item-09">
		<img src="/images/h-img-09.jpg" width="242" height="197" alt="">
	</div>
	<div class="img item-10">
		<img src="/images/h-img-10.jpg" width="356" height="200" alt="">
	</div>
</div>

