<div class="catalog">
	<div class="intro">
		Сколько людей, столько и <strong>квестов</strong>.
	</div>
	<div class="items">
		<ul>
			<li>
				<div class="catalog-icon icon-health"><!----></div>
        <h3><a href="/quests/квесты-для-поддержания-здоровья-ума-и-тела">Квесты для поддержания здоровья ума и тела.</a></h3>
				<p>В греческой Церкви термином διοίκησις обозначают всю территорию, находящуюся в юрисдикции той или иной поместной Церкви. Римско-католическая Церковь с XIII века называет епископские церковные округа диоцезами.</p>
			</li>
			<li>
				<div class="catalog-icon icon-work"><!----></div>
				<h3><a href="#">Квесты для игры дома,
квесты для игры на работе.</a></h3>
				<p>Квесты внутри корпорации устали от Русской Православной Церкви ещё в 2000-м году. Это определяет епархию как «местную церковь, возглавляемую и объединяющую епарные учреждения. Практикуем <a href="#" class="ico-discount">добрую систему скидок<span class="i"><!----></span></a>.</p>
			</li>
			<li>
				<div class="catalog-icon icon-wedding"><!----></div>
				<h3><a href="#">Квесты для игры в свадьбу.</a></h3>
				<p>Устав от Православной Церкви 2000 года определяет епархию как «местную церковь, возглавляемую и снимющим видео (<span class="ico-video"><!----></span>) об объединении епархиальных учреждений.</p>
			</li>
			<li>
				<div class="catalog-icon icon-dragon"><!----></div>
				<h3><a href="#">Драконы, подземелья — классика жанра.</a></h3>
				<p>В греческой Церкви термином διοίκησις обозначают всю территорию, находящуюся в юрисдикции той или иной поместной Церкви. Римско-католическая Церковь с XIII века называет епископские церковные округа диоцезами.</p>
			</li>
			<li>
				<div class="catalog-icon icon-team"><!----></div>
				<h3><a href="#">Командные, на выносливость.</a></h3>
				<p>Устав от Православной Церкви 2000 года определяет епархию как «местную церковь, возглавляемую и снимющим видео об объединении епархиальных учреждений.</p>
			</li>
			<li>
				<div class="catalog-icon icon-oldYoung"><!----></div>
				<h3><a href="#">Квесты для тех кто стар, квесты для тех кто мал.</a></h3>
				<p>В греческой Церкви термином διοίκησις обозначают всю территорию, находящуюся в юрисдикции той или иной поместной Церкви. Римско-католическая Церковь с XIII века называет епископские церковные округа диоцезами.</p>
			</li>
		</ul>
	</div>
	<div class="outro">
		<div class="ico-nature">— квесты природу не загрезняют, экономику спасают.</div>
	</div>
</div>

