<div class="footer">
	<div class="copy">&copy; 2013  <strong>E|10</strong></div>
	<div class="contact">
		Вы можете <a href="/contact">стать клиентом</a><br>
		или написать на <a href='maito:e10kvest@gmail.com?subject="Стать нашим клиентом"&target="_top"' class="nm">e10kvest@gmail.com</a>
	</div>
</div>

