<div class="footer">
	<div class="copy">&copy; 2013  <strong>E|10</strong></div>
	<div class="contact">
		Вы можете <a href="#">стать клиентом</a><br>
		или написать на <a href="#" class="nm">mail@e10.ru</a>
	</div>
</div>

